@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem;
  font-weight: 400;
  font-style: normal;
  font-family: "微软雅黑";
  text-size-adjust: 100%;
}

ul, li {
  list-style: none;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 625%;
}

img, div, body, html, ul, li, a {
  -webkit-touch-callout: none;
}

input, button {
  outline: 0;
  display: box;
  line-clamp: 2;
  word-break: break-all;
  overflow: hidden;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

html, body, #root {
  width: 100%;
  height: 100%;
  position: relative;
}

.index {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 1rem;
  background: #31c27c;
  display: flex;
  flex-direction: column;
}

header .index-top {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .index-top i.icon {
  font-size: .24rem;
  color: #fff;
  flex-basis: .5rem;
  text-align: center;
}

header .index-top .index-centent {
  flex: 1;
  text-align: center;
}

header .index-top .index-centent span {
  margin: 0 16px;
  font-size: .18rem;
  color: #EBF9F2;
}

header .index-top .index-centent span.action {
  color: #fff;
  font-size: .2rem;
  font-weight: 600;
}

header .index-bottom {
  width: 100%;
  height: 50%;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
}

header .index-bottom i.icon {
  font-size: .2rem;
}

header .index-bottom .bottom {
  width: 100%;
  height: 0.4rem;
  line-height: .4rem;
  background: #2CAF70;
  border-radius: 4px;
  color: #fff;
  font-size: .18rem;
}

section {
  flex: 1;
  overflow-y: scroll;
}

section .sect {
  width: 100%;
  height: 100%;
}

section .sect .swiper-pagination {
  position: relative;
}

section .sect .swiper-pagination .swiper-pagination-progressbar-fill {
  background: #31c27c;
}

footer {
  width: 100%;
  height: 0.7rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  border-top: 1px solid #eee;
}

footer dl {
  float: left;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer dl dt {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  overflow: hidden;
}

footer dl dt img {
  width: 100%;
}

footer dl dd {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: .1rem;
}

footer dl dd b {
  font-size: .16rem;
}

footer dl dd span {
  color: #808080;
}

footer li {
  float: right;
  height: 100%;
  line-height: .7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer li i.icon {
  color: #22C47E;
}

footer li i.icon:nth-child(1) {
  font-size: .4rem;
  background: rgba(255, 255, 255, 0.1);
  padding-right: 50px;
}

footer li i.icon:nth-child(2) {
  font-size: .24rem;
}

.index-CD {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all;
  z-index: 8888;
}

.index-CD .hi {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.index-CD .ant-switch-checked {
  background-color: #31c27c;
}

.cd-aa {
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;
}

.cd-aa .cd-a {
  width: 100%;
  height: auto;
}

.cd-aa .cd-a li {
  width: 100%;
  height: .4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cd-aa .cd-a li b {
  font-size: .16rem;
}

.cd-aa .cd-a li span {
  color: #808080;
}

.cd-aa .cd-a li:nth-child(2) span {
  color: #fff;
}

.cd-aa .cd-b {
  width: 100%;
  height: auto;
  margin: .22rem 0;
}

.cd-aa .cd-b li {
  width: 100%;
  height: .4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cd-aa .cd-b li b {
  font-size: .16rem;
}

.cd-aa .cd-b p {
  font-size: .16rem;
  font-weight: 600;
  color: #000;
  margin-top: .1rem;
}

.cd-aa .cd-c {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.cd-aa .cd-c b {
  width: 100%;
  height: .4rem;
  font-size: .16rem;
}

.cd-aa .cd-d {
  width: 100%;
  height: auto;
  margin-top: .22rem;
}

.cd-aa .cd-d b {
  width: 100%;
  height: .4rem;
  font-size: .16rem;
}

.cd-aa .cd-d ul {
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .1rem 0;
}

.cd-aa .cd-d ul li {
  width: 23%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cd-aa .cd-d ul li b {
  width: 100%;
  height: .7rem;
}

.cd-aa .cd-d ul li b img {
  width: 100%;
}

.cd-aa .cd-d ul li span {
  width: 100%;
  height: .3rem;
  line-height: .3rem;
  text-align: center;
  color: #31c27c;
}

.cd {
  width: 80%;
  height: 100%;
  background: #fff;
  padding: 0 4%;
  transition: all .3s linear;
  transform: translateX(-100%);
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  color: #000;
  display: flex;
  flex-direction: column;
}

.cd .cd-q {
  width: 100%;
  height: .45rem;
  background: radial-gradient(top, #eee, #fff, #fff);
}

.cd .cd-e {
  width: 100%;
  height: .5rem;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cd .cd-e b {
  font-size: .16rem;
}

.cd .cd-e b i.icon {
  font-size: .22rem;
  color: #31c27c;
  vertical-align: middle;
}
